body {
	margin-top: 55px;
}
.container {
	border: 3px solid #A9A9A9;
	padding: 20px 10px;
	background-color:#031a3f;
	width:300px;
	height:500px;
}
.container h2 {
	color: white;
	text-align: center;
}
.container h4 {
	color:white;
	text-align: center;
}
label {
	font-size: 20px;
	color: white;
}
input[type=text] , input[type=password] {
	width: 100%;
	padding: 10px 8px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
button {
	color: white;
	padding: 10px 15px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}
